<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repozytorium</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:if="${message == 'ok'}" class="alert alert-success" role="alert">
        <a th:text="${'Dane autora zostały zapisane.'}"></a>
    </div>
    <div th:if="${message == 'user_exists'}" class="alert alert-danger" role="alert">
        <a th:text="${'Autor o podanym identyfikatorze już istnieje.'}"></a>
    </div>
    <div class="float-right">
        <a class = "btn btn-info" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
    </div>
    <br>
</div>
<div class="container-fluid">
    <table class="table table-active">
        <thead class="thead-dark">
        <th>Identyfikator autora</th>
        <th>Nazwa autora</th>
        <th></th>
        <th></th>
        </thead>
        <tbody th:each="author : ${authors}">
        <tr>
            <td th:text=${author.authorId}></td>
            <td th:text=${author.authorName}></td>
            <td><a class="btn btn-info" th:href="${'/authors/edit/' + author.id}">Edytuj</a></td>
            <td><a class="btn btn-danger" th:href="${'/authors/delete/' + author.id}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-success float-left" th:text="${'Dodaj'}" th:href="${'/authors/add'}"></a>
    </div>
    <div>
        <a class="btn btn-info float-left" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
    </div>
</div>
</body>
</html>