<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSVN: Dane autora</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="/menu::menu"></div>
<div class="container-fluid" style="margin-top: 5px">
    <form class="form-horizontal col-md-4 offset-md-4" th:object="${author}" th:action="@{/authors}" th:method="post">
        <p>&nbsp;</p>
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label">Identyfikator autora:</label>
            <input type="text" class="form-control" th:field="*{authorId}" th:if="${id != null}" readonly/>
            <input type="text" class="form-control" th:field="*{authorId}" th:if="${id == null}"/>
            <p th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Nazwa autora:</label>
            <input type="text" class="form-control" th:field="*{authorName}" autocomplete="off"/>
            <p th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}"/>
        </div>

        <div class="btn-group float-left" role="group" aria-label="Main menu">
            <button type="submit" class="btn btn-primary float-left">Zapisz</button>
            <a class="btn btn-secondary float-left" th:text="${'Powrót'}" th:href="${'/authors'}"></a>
        </div>
    </form>
</div>
</body>
</html>
