<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSVN: Ustawienia aplikacji</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-bottom: 5px;">
    <h5 class="float-right"><span class="badge badge-success float-right" th:text="${'SpringSVN ver. ' + version}"></span></h5>
</div>
<div class="container-fluid">
    <div th:if="${message == 'svn_exception'}" class="alert alert-danger" role="alert">
        <a th:text="${'Wystapił błąd podczas pobierania danych z SVN. Sprawdź poprawność podanych danych.'}"></a>
    </div>
    <form class="form-horizontal" th:object="${config}" th:action="@{/config}" th:method="post">

        <div class="form-group">
            <label class="control-label">Adres repozytorium:</label>
            <input type="text" class="form-control" th:field="*{svnRepositoryAddress}"/>
            <p th:if="${#fields.hasErrors('svnRepositoryAddress')}" th:errors="*{svnRepositoryAddress}"/>
        </div>

        <div class="form-group custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" th:field="*{svnAuthentication}" id="svnAuthentication"/>
            <label class="custom-control-label" for="svnAuthentication">Wymagaj uwierzytelnienia</label>
            <p th:if="${#fields.hasErrors('svnAuthentication')}" th:errors="*{svnAuthentication}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Login:</label>
            <input type="text" class="form-control" th:field="*{svnLogin}" autocomplete="off"/>
            <p th:if="${#fields.hasErrors('svnLogin')}" th:errors="*{svnLogin}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Hasło:</label>
            <input type="password" class="form-control" th:field="*{svnPassword}" autocomplete="new-password"/>
            <p th:if="${#fields.hasErrors('svnPassword')}" th:errors="*{svnPassword}"/>
        </div>

        <div class="form-group custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" th:field="*{appAnonAccess}" id="appAnonAccess"/>
            <label class="custom-control-label" for="appAnonAccess">Anonimowy dostęp do aplikacji</label>
            <p th:if="${#fields.hasErrors('appAnonAccess')}" th:errors="*{appAnonAccess}"/>
        </div>

        <div class="form-group custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" th:field="*{appBugTrackerIntegration}" id="appBugTrackerIntegration"/>
            <label class="custom-control-label" for="appBugTrackerIntegration">Integracja z systemem Bug-Trackingowym</label>
            <p th:if="${#fields.hasErrors('appBugTrackerIntegration')}" th:errors="*{appBugTrackerIntegration}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Szukany wzorzec:</label>
            <input type="text" class="form-control" th:field="*{appBugTrackerPattern}"/>
            <p th:if="${#fields.hasErrors('appBugTrackerPattern')}" th:errors="*{appBugTrackerPattern}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Wstrzykiwany HTML:</label>
            <input type="text" class="form-control" th:field="*{appBugTrackerReplace}"/>
            <p th:if="${#fields.hasErrors('appBugTrackerReplace')}" th:errors="*{appBugTrackerReplace}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Oznacz rewizje jako nowe, jeżeli wykonano je nie później niż (sekund temu):</label>
            <input type="text" class="form-control" th:field="*{appNewItemTimeThreshold}"/>
            <p th:if="${#fields.hasErrors('appNewItemTimeThreshold')}" th:errors="*{appNewItemTimeThreshold}"/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary float-left">Zapisz konfigurację</button>
        </div>
        <div th:if="${config.svnRepositoryAddress != '' and config.svnRepositoryAddress != null}">
            <a class="btn btn-secondary float-left" th:text="${'Załaduj ponownie konfigurację'}" th:href="${'/refresh'}"></a>
        </div>
        <div th:if="${config.svnRepositoryAddress != '' and config.svnRepositoryAddress != null}">
            <a class="btn btn-info float-left" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
        </div>
    </form>
    <div class="float-right">
        <img src="favicon.ico" height="100" width="100">
    </div>
</div>
</body>
</html>
