<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSVN: Repozytorium</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="/menu::menu"></div>
<div class="container-fluid" style="margin: 2px;">
    <form class="form-horizontal" th:object="${location}" th:action="@{/content}" th:method="get">

        <div class="form-group">
            <label class="control-label">Ścieżka repozytorium</label>
            <input type="text" class="form-control" th:field="*{path}"/>
            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja</label>
            <input type="text" class="form-control" th:field="*{revision}"/>
            <p th:if="${#fields.hasErrors('revision')}" th:errors="*{revision}"/>
        </div>

        <div class="btn-group float-left" role="group" aria-label="Content menu">
            <button type="submit" class="btn btn-primary float-left">Przejdź</button>
            <a class="btn btn-success float-left" th:text="${'Historia'}" th:href="${'/history?path=' + location.path  + '&revision=' + location.revision}"></a>
            <a class="btn btn-info float-left" th:if="${location.path != '' and location.path != '/'}" th:text="${'Katalog nadrzędny'}" th:href="${'/content?path=' + location.parentPath + '&revision=' + location.revision + '&sort=' + sort + '&order=' + order}"></a>
            <a class="btn btn-info float-left" th:if="${location.path != '' and location.path != '/'}" th:text="${'Katalog główny (root)'}" th:href="${'/content?path=/&revision=' + location.revision  + '&sort=' + sort + '&order=' + order}"></a>
            <a class="btn btn-secondary float-left" th:text="${'Najnowsza rewizja (HEAD)'}" th:href="${'/content?path=' + location.path  + '&sort=' + sort + '&order=' + order}"></a>
        </div>
    </form>
    <div class="badge badge-warning float-right" style="text-align: left; margin-bottom: 10px">
        <h6>
            <a th:text="${'Ostatnia rewizja: ' + lastRev.id}" th:href="${'/diff?revision=' + lastRev.id}"></a><br>
            <a th:text="${'Autor: ' + lastRev.authorId + ' (' + lastRev.authorName + ')'}"></a><br>
            <a th:text="${'Data: ' + #dates.format(lastRev.date, 'dd.MM.yyyy HH:mm:ss') + ' (' + lastRev.timeAgo + ')'}"></a><br>
            <a th:text="${'Opis: ' + lastRev.message}"></a><br>
        </h6>
    </div>
    <div>
        <table class="table table-active">
            <thead class="thead-dark">
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Ścieżka'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=name' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Rewizja'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=revision' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Data zmiany'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=date' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Autor'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=authorId' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Dane autora'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=authorName' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Opis'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision + '&sort=message' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
            <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Historia'}"></a></th>
            </thead>
            <tbody th:each="entry : ${entryList}">
            <tr th:classappend="${entry.lastRevision.timeFromNow <= timeThreshold} ? table-success : table">
                <td style="vertical-align: middle;" th:if="${location.path != '/' and not entry.isFile}"><strong><a th:text="${entry.name}" th:href="${'/content?path=' + location.path + '/' + entry.name + '&revision=' + location.revision + '&sort=' + sort + '&order=' + order}"></a></strong></td>
                <td style="vertical-align: middle;" th:if="${location.path == '/' and not entry.isFile}"><strong><a th:text="${entry.name}" th:href="${'/content?path=' + location.path + entry.name + '&revision=' + location.revision + '&sort=' + sort + '&order=' + order}"></a></strong></td>
                <td style="vertical-align: middle;" th:if="${location.path != '/' and entry.isFile}"><strong><a th:text="${entry.name}"></a></strong></td>
                <td style="vertical-align: middle;" th:if="${location.path == '/' and entry.isFile}"><strong><a th:text="${entry.name}"></a></strong></td>
                <td style="vertical-align: middle;" th:text="${entry.lastRevision.id}"></td>
                <td style="vertical-align: middle;">
                    <div th:text="${#dates.format(entry.lastRevision.date, 'dd.MM.yyyy HH:mm:ss')}"></div>
                    <div style="font-style: italic;" th:text="${'(' + entry.lastRevision.timeAgo + ')'}"></div>
                </td>
                <td style="vertical-align: middle;" th:text="${entry.lastRevision.authorId}"></td>
                <td style="vertical-align: middle;" th:text="${entry.lastRevision.authorName}"></td>
                <td style="vertical-align: middle;"><div th:utext="${entry.lastRevision.message}"></div></td>
                <td th:if="${location.path != '/'}"><a class="btn" th:classappend="${entry.lastRevision.timeFromNow <= timeThreshold} ? btn-success : btn-secondary" th:text="Przeglądaj" th:href="${'/history?path=' + location.path + '/' + entry.name + '&revision=' + location.revision}"></a></td>
                <td th:if="${location.path == '/'}"><a class="btn" th:classappend="${entry.lastRevision.timeFromNow <= timeThreshold} ? btn-success : btn-secondary" th:text="Przeglądaj" th:href="${'/history?path=' + location.path + entry.name + '&revision=' + location.revision}"></a></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
