<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repozytorium</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" th:object="${location}" th:action="@{/content}" th:method="get">

        <div class="form-group">
            <label class="control-label">Ścieżka repozytorium</label>
            <input type="text" class="form-control" th:field="*{path}"/>
            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja</label>
            <input type="text" class="form-control" th:field="*{revision}"/>
            <p th:if="${#fields.hasErrors('revision')}" th:errors="*{revision}"/>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary float-left">Przejdź</button>
        </div>
    </form>
    <div class="float-right">
        <a th:text="${'Ostatnia rewizja: ' + lastRev.id}"></a><br>
        <a th:text="${'Autor: ' + lastRev.authorId + ' (' + lastRev.authorName + ')'}"></a><br>
        <a th:text="${'Data: ' + lastRev.date}"></a><br>
        <a th:text="${'Opis: ' + lastRev.message}"></a><br>
    </div>
    <div>
        <table class="table table-active">
            <thead class="thead-dark">
            <th>Ścieżka</th>
            <th>Rewizja</th>
            <th>Data zmiany</th>
            <th>Autor</th>
            <th>Dane autora</th>
            <th>Opis</th>
            <th>Historia</th>
            </thead>
            <tbody th:each="entry : ${entryList}">
            <tr>
                <td th:if="${location.path != '/' and not entry.isFile}"><strong><a th:text="${entry.name}" th:href="${'/content?path=' + location.path + '/' + entry.name + '&revision=' + entry.lastRevision.id}"></a></strong></td>
                <td th:if="${location.path == '/' and not entry.isFile}"><strong><a th:text="${entry.name}" th:href="${'/content?path=' + location.path + entry.name + '&revision=' + entry.lastRevision.id}"></a></strong></td>
                <td th:if="${location.path != '/' and entry.isFile}"><strong><a th:text="${entry.name}"></a></strong></td>
                <td th:if="${location.path == '/' and entry.isFile}"><strong><a th:text="${entry.name}"></a></strong></td>
                <td th:text="${entry.lastRevision.id}"></td>
                <td th:text="${#dates.format(entry.lastRevision.date, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${entry.lastRevision.authorId}"></td>
                <td th:text="${entry.lastRevision.authorName}"></td>
                <td th:text="${entry.lastRevision.message}"></td>
                <td th:if="${location.path != '/'}"><a th:text="Przeglądaj" th:href="${'/history?path=' + location.path + '/' + entry.name}"></a></td>
                <td th:if="${location.path == '/'}"><a th:text="Przeglądaj" th:href="${'/history?path=' + location.path + entry.name}"></a></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>