<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repozytorium</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" th:object="${location}" th:action="@{/diff}" th:method="get">

        <div class="form-group">
            <label class="control-label">Ścieżka repozytorium</label>
            <input type="text" class="form-control" th:field="*{path}"/>
            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja</label>
            <input type="text" class="form-control" th:field="*{revision}"/>
            <p th:if="${#fields.hasErrors('revision')}" th:errors="*{revision}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja porównywana</label>
            <input type="text" class="form-control" th:field="*{revisionTo}"/>
            <p th:if="${#fields.hasErrors('revisionTo')}" th:errors="*{revisionTo}"/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary float-left">Porównaj</button>
        </div>
        <div>
            <a class="btn btn-info float-left" th:text="Szczegóły" th:href="${'/diff?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&details=true'}"></a>
        </div>
        <div>
            <a class="btn btn-secondary float-left" th:text="Powrót" th:href="${'/history?path=' + location.path + '&revision=' + location.revision}"></a>
        </div>
    </form>
    <table class="table table-active">
        <thead class="thead-dark">
            <th>Plik</th>
        </thead>
        <tbody th:each="file : ${fileList}">
        <tr>
            <td th:text="${file}"></td>
        </tr>
        </tbody>
    </table>
    <textarea cols="150" rows="100" th:text="${diff}" th:if="${diff != null}"></textarea>
</div>
</body>
</html>