<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Repozytorium</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" th:object="${location}" th:action="@{/history}" th:method="get">

        <div class="form-group">
            <label class="control-label">Ścieżka repozytorium:</label>
            <input type="text" class="form-control" th:field="*{path}"/>
            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja Od:</label>
            <input type="text" class="form-control" th:field="*{revision}"/>
            <p th:if="${#fields.hasErrors('revision')}" th:errors="*{revision}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Rewizja Do:</label>
            <input type="text" class="form-control" th:field="*{revisionTo}"/>
            <p th:if="${#fields.hasErrors('revisionTo')}" th:errors="*{revisionTo}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Liczba prezentowanych rewizji:</label>
            <input type="text" class="form-control" th:field="*{revisionMax}"/>
            <p th:if="${#fields.hasErrors('revisionMax')}" th:errors="*{revisionMax}"/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary float-left">Przejdź</button>
        </div>
        <div th:if="${location.path != '' and location.path != '/'}">
            <a class="btn btn-info float-left" th:text="${'Katalog nadrzędny'}" th:href="${'/history?path=' + location.parentPath + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=' + sort + '&order=' + order}"></a>
        </div>
        <div th:if="${location.path != '' and location.path != '/'}">
            <a class="btn btn-success float-left" th:text="${'Katalog główny (root)'}" th:href="${'/history?path=/&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=' + sort + '&order=' + order}"></a>
        </div>
        <div>
            <a class="btn btn-warning float-left" th:text="${'Najnowsza rewizja (HEAD)'}" th:href="${'/history?path=' + location.path + '&revisionMax=' + location.revisionMax + '&sort=' + sort + '&order=' + order}"></a>
        </div>
        <div>
            <a class="btn btn-secondary float-left" th:text="${'Powrót do repozytorium'}" th:href="${'/content?path=' + location.path + '&revision=' + location.revision}"></a>
        </div>
    </form>
    <table class="table table-active">
        <thead class="thead-dark">
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Rewizja'}" th:href="${'/history?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=revision' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Data zmiany'}" th:href="${'/history?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=date' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Autor'}" th:href="${'/history?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=authorId' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Dane autora'}" th:href="${'/history?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=authorName' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Opis'}" th:href="${'/history?path=' + location.path + '&revision=' + location.revision + '&revisionTo=' + location.revisionTo + '&revisionMax=' + location.revisionMax + '&sort=message' + (order == 'asc' ? '&order=desc' : '&order=asc')}"></a></th>
        <th><a class="btn btn-dark" style="font-weight:bold;" th:text="${'Wprowadzone zmiany'}"></a></th>
        </thead>
        <tbody th:each="revision : ${revisionList}">
        <tr>
            <td style="vertical-align: middle; font-weight:bold;" th:text="${revision.id}"></td>
            <td style="vertical-align: middle;" th:text="${#dates.format(revision.date, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td style="vertical-align: middle;" th:text="${revision.authorId}"></td>
            <td style="vertical-align: middle;" th:text="${revision.authorName}"></td>
            <td style="vertical-align: middle;"><div th:utext="${revision.message}"></div></td>
            <td><a class="btn btn-secondary" th:text="Przeglądaj" th:href="${'/diff?revision=' + revision.id}"></a></td>
        </tbody>
    </table>
</div>
</body>
</html>