<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSVN: Lista użytkowników</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="/menu::menu"></div>
<div class="container-fluid" style="margin-top: 5px">
    <div th:if="${message == 'ok'}" class="alert alert-success" role="alert">
        <a th:text="${'Dane użytkownika zostały zapisane.'}"></a>
    </div>
    <div th:if="${message == 'user_exists'}" class="alert alert-danger" role="alert">
        <a th:text="${'Użytkownik o podanym identyfikatorze już istnieje.'}"></a>
    </div>
    <div th:if="${message == 'activate'}" class="alert alert-success" role="alert">
        <a th:text="${'Użytkownik został aktywowany.'}"></a>
    </div>
    <div th:if="${message == 'deactivate'}" class="alert alert-success" role="alert">
        <a th:text="${'Użytkownik został deaktywowany.'}"></a>
    </div>
    <div th:if="${message == 'grant-admin'}" class="alert alert-success" role="alert">
        <a th:text="${'Uprawnienia administratora zostały nadane.'}"></a>
    </div>
    <div th:if="${message == 'revoke-admin'}" class="alert alert-success" role="alert">
        <a th:text="${'Uprawnienia administratora zostały odebrane.'}"></a>
    </div>
    <div th:if="${message == 'edit'}" class="alert alert-success" role="alert">
        <a th:text="${'Konto użytkownika zostało zmodyfikowane.'}"></a>
    </div>
    <div th:if="${message == 'remove'}" class="alert alert-success" role="alert">
        <a th:text="${'Konto użytkownika zostało usunięte.'}"></a>
    </div>
    <div class="btn-group float-left" role="group" aria-label="Main menu">
        <a class="btn btn-success float-left" th:text="${'Rejestracja użytkownika'}" th:href="${'/register'}"></a>
        <a class="btn btn-secondary float-left" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
    </div>
    <p>&nbsp;</p>
</div>
<div class="container-fluid">
    <table class="table table-active">
        <thead class="thead-dark">
        <th>Nazwa użytkownika</th>
        <th>Imię i nazwisko</th>
        <th>Status użytkownika</th>
        <th>Uprawnienia administratora</th>
        <th>Profil użytkownika</th>
        <th>Usuń konto</th>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td style="vertical-align: middle; font-weight: bold;"><a th:text="${user.username}" th:href="${'/users/edit/' + user.id}"></a></td>
            <td style="vertical-align: middle;" th:text=${user.name}></td>
            <td th:if="${not user.isEnabled and user.username != loggedUsername}"><a class="btn btn-success" th:href="${'/users/activate/' + user.id}">Aktywuj</a></td>
            <td th:if="${user.isEnabled and user.username != loggedUsername}"><a class="btn btn-danger" th:href="${'/users/deactivate/' + user.id}">Deaktywuj</a></td>
            <td th:if="${user.username == loggedUsername}"></td>
            <td th:if="${not user.isAdmin and user.username != loggedUsername}"><a class="btn btn-success" th:href="${'/users/grant-admin/' + user.id}">Nadaj</a></td>
            <td th:if="${user.isAdmin and user.username != loggedUsername}"><a class="btn btn-danger" th:href="${'/users/revoke-admin/' + user.id}">Odbierz</a></td>
            <td th:if="${user.username == loggedUsername}"></td>
            <td><a class="btn btn-info" th:href="${'/users/edit/' + user.id}">Edytuj</a></td>
            <td><a class="btn btn-danger" th:href="${'/users/remove/' + user.id}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <div class="btn-group float-left" role="group" aria-label="Main menu">
        <a class="btn btn-success float-left" th:text="${'Rejestracja użytkownika'}" th:href="${'/register'}"></a>
        <a class="btn btn-secondary float-left" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
    </div>
</div>
</body>
</html>
