<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringSVN: Rejestracja użytkownika</title>
    <meta http-equiv="Content-Type" location="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:if="${showMessage == 'REGISTER_OK'}" class="alert alert-success" role="alert">
    <a th:text="${'Konto użytkownika zostało pomyślnie zarejestrowane.'}"></a>
    <a th:href="${'/content'}">Przejdź do aplikacji.</a>
</div>
<div th:if="${showMessage == 'EDIT_OK'}" class="alert alert-success" role="alert">
    <a th:text="${'Konto użytkownika zostało pomyślnie zmodyfikowanie.'}"></a>
    <a th:href="${'/content'}">Przejdź do aplikacji.</a>
</div>
<div th:if="${showMessage == 'REGISTER_EXISTS'}" class="alert alert-warning" role="alert">
    <a th:text="${'Użytkownik o podanym loginie jest już zarejestrowany. Wybierz inny login.'}"></a>
</div>
<div class="container-fluid" style="margin-top: 5px">
    <form class="form-horizontal" th:object="${user}" th:action="@{/register}" th:method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label">Login:</label>
            <input type="text" class="form-control" th:field="*{username}" th:if="${user.id == null}" autocomplete="off"/>
            <input type="text" class="form-control" th:field="*{username}" th:if="${user.id != null}" autocomplete="off" readonly/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Hasło:</label>
            <input type="password" class="form-control" th:field="*{password}" autocomplete="new-password"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>

        <div class="form-group custom-control custom-checkbox" th:if="${adminEnabled}">
            <input class="custom-control-input" type="checkbox" th:field="*{isAdmin}" id="isAdmin" checked="unchecked"/>
            <label class="custom-control-label" for="isAdmin">Administrator</label>
            <p th:if="${#fields.hasErrors('isAdmin')}" th:errors="*{isAdmin}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Imię i nazwisko:</label>
            <input type="text" class="form-control" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>

        <div class="btn-group float-left" role="group" aria-label="Main menu">
            <button type="submit" class="btn btn-primary float-left">Zatwierdź</button>
            <a class="btn btn-secondary float-left" th:text="${'Powrót'}" th:href="${'/content?path=/'}"></a>
        </div>
    </form>
</div>
</body>
</html>
